extends layouts/main.pug

block content
    
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title">
                    <span class="page-title-icon bg-gradient-primary text-white mr-2">
                    <i class="mdi mdi-home"></i>
                    </span> Edit Issue 
                </h3>
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">
                        <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                    </li>
                    </ul>
                </nav>
            </div>

            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    if msg
                        div(class="alert alert-danger") #{msg}
                    <h4 class="card-title">Issue Form</h4> 
                    form(class="forms-sample", action=`/editissue?id=${datas.id}`, method="post")
                        <div class="form-group row">
                            <label for="exampleInputEmail2" class="col-sm-3 col-form-label">employee Name</label>
                            <div class="col-sm-9">
                            select(name="employeeId", class="form-control", placeholder="employee name", required)
                                    if employees.length > 0
                                        option(value="") select employee 
                                        each emp in  employees 
                                            option(value=`${emp.id}`  selected=(emp.id === datas.employeeId)) #{emp.name}  
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Asset Name</label>
                            <div class="col-sm-9">
                            select(name="assetId", class="form-control", placeholder="Asset name", required)
                                    if assets.length > 0
                                        option(value="") select Asset 
                                        each ast in  assets 
                                            option(value=`${ast.id}` selected=(ast.id === datas.assetmasterId)) #{ast.serialno} -  #{ast.make} - #{ast.model}  
                            </div>
                        </div>
                        <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
                        <a href="/issueview" class="btn btn-light">Cancel</a>
                    </form>
                  </div>
                </div>
            </div> 
        </div>
    </div> 
         
