extends layouts/main.pug

block content
    
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title">
                    <span class="page-title-icon bg-gradient-primary text-white mr-2">
                    <i class="mdi mdi-home"></i>
                    </span> Return Asset
                </h3>
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">
                        <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                    </li>
                    </ul>
                </nav>
            </div>
            a(href="/addreturn" , class="btn btn-success btn-sm") New Return
             
            <table id="example" class="display" style="100%">
                <thead>
                    <tr>
                        <th>Employee Name</th>
                        <th>Asset Name</th> 
                        <th>Edit</th> 
                    </tr>
                </thead>
                <tbody>
                    each ret in returns
                        <tr>
                            <td>#{ret.employee.name}</td>
                            <td>#{ret.assetmaster.serialno} - #{ret.assetmaster.model} - #{ret.assetmaster.make}</td>
                            td
                                a(href=`/editreturn?id=${ret.id}`, class="btn btn-warning btn-sm") Edit
                                 
                        </tr>
                </tbody>
            </table>
            
        </div>
    </div>
       
        
        
        <script>
            |window.onload = function(){
            |   $('#example').DataTable();
            |};
        </script>

