extends layouts/main.pug

block content
    
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title">
                    <span class="page-title-icon bg-gradient-primary text-white mr-2">
                    <i class="mdi mdi-home"></i>
                    </span> Scrap Asset
                </h3>
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">
                        <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                    </li>
                    </ul>
                </nav>
            </div>
           
             
            <table id="example" class="display" style="100%">
                <thead>
                    <tr>
                        <th>employee Name</th>
                        <th>asset Name</th> 
                        <th>Status</th> 
                        <th>Edit</th> 
                    </tr>
                </thead>
                <tbody>
                    each iss in issues
                        <tr>
                            <td>#{iss.employee.name}</td>
                            <td>#{iss.serialno} - #{iss.make} - #{iss.model}</td>
                            <td>#{iss.status}</td>
                            td
                                a(href=`/setscrap?id=${iss.id}&assetmasterId=${iss.id}&employeeId=6`, class="btn btn-warning btn-sm") Set Scrap
                                 
                        </tr>
                </tbody>
            </table>
            
        </div>
    </div>
       
        
        
        <script>
            |window.onload = function(){
            |   $('#example').DataTable();
            |};
        </script>

